.parent {
    display: grid;
    gap: 1rem;
    justify-content: center;
}
 .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: monospace;
    background: #beafaf;
    width: 500px;
    height: 500px;
 }

 .card1 {
    background: linear-gradient(rgb(90, 85, 225) , rgb(201, 184, 184) );
 }
 .card2 {
    background: linear-gradient(rgb(90, 85, 225) 70%, rgb(201, 184, 184) );
 }
 .card3 {
    background: linear-gradient(rgb(118, 220, 126) 70%, rgb(216, 96, 96) 70%);
}
.card4 {
   background: linear-gradient(to right, rgb(63, 179, 225) , rgb(240, 206, 15) );
}
.card5 {
   background: linear-gradient(to bottom, rgb(229, 86, 78) , rgb(217, 186, 75), grey, aqua );
}
.card6 {
   background: linear-gradient(45deg, #3f87a6, #ebf8e1, #f69d3c, #561423);
}
.card7 {
   background: linear-gradient(0.78turn, #62d65a, #ebf8e1, #555991, #dc2550);
}
.card8 {
   background: linear-gradient(90deg, #6ce70e 50%, #d1758b 50%);
}
.card9 {
   background: linear-gradient(90deg, #d080d3 50%, #75bcd1 50%);
   background-size: 20px;
}
.card10 {
   background: linear-gradient(to right,  rgba(255, 56, 56, 0.5) 50% ,transparent 50%),
               linear-gradient(to bottom,  rgba(235, 115, 115, 0.5) 50%, transparent 50%);
}
.card11 {
   background: linear-gradient(to right,  rgba(255, 56, 56, 0.5) 50%, transparent 50%),
               linear-gradient(to bottom,  rgba(235, 115, 115, 0.5) 50%, transparent 50%);
   background-size: 20px 20px;
}
.card12 {
   background: linear-gradient(135deg, #eceddc 25%, transparent 25%),
               linear-gradient(225deg, #eceddc 25%, transparent 25%),
               linear-gradient(315deg, #eceddc 25%, transparent 25%),
               linear-gradient(45deg, #eceddc 25%, transparent 25%);
   background-color: #782345;
}
.card13 {
   background: linear-gradient(135deg, #eceddc 25%, transparent 25% ) ,
               linear-gradient(225deg, #eceddc 25%, transparent 25% ),
               linear-gradient(315deg, #eceddc 25%, transparent 25%),
               linear-gradient(45deg, #eceddc 25%, transparent 25%);
   background-color: #782345;
   background-size: 40px 40px;
}
.card14 {
   background: linear-gradient(135deg, #eceddc 25%, transparent 25% ) 20px 0,
               linear-gradient(225deg, #eceddc 25%, transparent 25% ) 20px 0,
               linear-gradient(315deg, #eceddc 25%, transparent 25%),
               linear-gradient(45deg, #eceddc 25%, transparent 25%);
   background-color: #782345;
   background-size: 40px 40px;
}
.card15 {
   background: radial-gradient(circle, transparent 20px, rgba(0, 150, 225, 0.5)20px);
}
.card16 {
   background: linear-gradient(teal 4px, transparent 4px),
   linear-gradient(90deg, teal 4px, transparent 4px),
   radial-gradient(circle, transparent 1rem, rgb(166, 109, 203) 1rem);
   background-size: 50px 50px;
}
.card17 {
   background: radial-gradient(circle, transparent 15px,
                              rgba(102, 102, 102, 0.5) 15px,/*starts at 15px*/
                              rgba(102, 102, 102, 0.5) 30px,/*ends at 30px*/
                              steelblue 30px,/*starts at 30px*/
                              steelblue 40px,/*ends at 40px*/
                              salmon 40px);
   background-position: 0 -100px;
   background-size: 85px 85px;
}
.card18 {
   background: radial-gradient(circle, transparent 15px,
                              rgba(102, 102, 102, 0.5) 15px,/*starts at 15px*/
                              rgba(102, 102, 102, 0.5) 25px,/*ends at 30px*/
                              transparent 25px);
   background-position: 0 -100px;
   background-size: 55px 55px;
}
.card19 {
   background: radial-gradient(circle at 100% 50%, transparent 5px,
                              rgb(37, 53, 63) 5px,/*starts at 15px*/
                              rgb(19, 131, 210) 10px,/*ends at 30px*/
                              transparent 10px),
               radial-gradient(circle at 0% 50%, transparent 5px,
                              rgb(41, 52, 59) 5px,/*starts at 15px*/
                              rgb(19, 131, 210) 10px,/*ends at 30px*/
                              transparent 10px);
   background-size: 25px 30px;
   background-position: 0 0, 0px 15px;
}
.card20 {
   background-color: rgb(227, 135, 135);
   background-image: conic-gradient(from 90deg, rgb(174, 48, 77) , transparent 300deg);
}
.card21 {
   background-color: rgb(227, 227, 135);
   background-image: conic-gradient(from 90deg at 50% 50%,
                                    rgb(53, 157, 37),
                                    transparent 300deg);
   background-size: 100px 100px;
}
.card22 {
   background-color: rgb(135, 204, 227);
   background-image: conic-gradient(from 90deg at 30% 60%,
                                    rgb(37, 65, 157) 30deg,
                                    transparent 30deg);
   background-size: 30px 30px;
}






